<h2>Todo List</h2>
<form class="formwidth" (ngSubmit)="onSubmit()" [formGroup]="todoSearchFrm">
    <table class="fullwidth" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="fullwidth">
            <input matInput placeholder="Dealer Name" formControlName="dealerName">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="fullwidth">
            <input matInput placeholder="WorkTopic" formControlName="workTopic">
          </mat-form-field>
        </td>
      </tr>
    </table>
    <p>
        <button type="submit" md-raised-button>Search</button>
        <button type="button" (click)="clear()" md-raised-button>Clear</button>
      </p>
</form>
<ngx-datatable class="material" [rows]="rows" [columns]="columns" [columnMode]="'force'" [headerHeight]="42"
  [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">
  <ngx-datatable-column *ngFor="let col of columns" [name]="col.name" [sortable]="true" [canAutoResize]="true"
    [resizeable]="true">
    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
      <div class="text-center" *ngIf="col.prop === 'isDone'">
        <input type="checkbox" [checked]="value" disabled>
      </div>
      <span *ngIf="col.prop !== 'isDone'" class="ellipsis">{{value}}
      </span>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
